/* NAVBAR*/
.navbar.navbar-default {
  padding-top: 4rem !important;
  padding-bottom: 2.2rem !important;

  background-color: #134074  !important;
  border: none !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15) !important;
}

.navbar-default .navbar-brand {
  font-family: 'PT Sans', sans-serif !important;
  font-weight: 600 !important;
  font-size: 1.6rem !important;
  color: #EEF4ED !important;
}

/* Tabs / Links */
.navbar-default .navbar-nav > li > a {
  font-family: 'PT Sans', sans-serif !important;
  font-weight: 400 !important;
  color: #EEF4ED !important;
  background-color: transparent !important;
  border-bottom: 2px solid transparent !important;
  transition: all 0.25s ease-in-out;
}

/* Hover & Active*/
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #8DA9C4 !important;
  border-bottom: 2px solid #8DA9C4 !important;
  background-color: transparent !important;
}


body {
  background-color: #EEF4ED !important;
  font-family: 'PT Sans', sans-serif !important;
  color: #0B2545 !important;
}


h1, h2, h3, h4, h5 {
  color: #0B2545 !important;
  font-family: 'PT Sans', sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: 0.03rem;
}

/* === FILTER PANEL (Sidebar) === */
.sidebarPanel, .well, .panel {
  background-color: #EEF4ED !important;
  border: 2px solid #8DA9C4 !important;
  border-radius: 12px !important;
  box-shadow: 0 2px 5px rgba(11, 37, 69, 0.05);
  padding: 15px !important;
}

/* Checkbox */
.sidebarPanel label, .well label {
  color: #0B2545 !important;
  font-family: 'PT Sans', sans-serif !important;
  font-weight: 400;
}

/* Checkbox */
input[type="checkbox"] {
  accent-color: #134074;
}

/* Example section */
.example-interpretation {
  margin-top: 0.5rem;
  padding: 0.9rem 1rem;
  border-left: 6px solid #415a77;
  background: rgba(174,195,176,0.18);
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.06);
}
.example-interpretation h5 {
  margin: 0 0 0.5rem 0;
  font-weight: 700;
  color: #0d1b2a;
}
.example-interpretation p { margin: 0.3rem 0; }
